{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <p style="color:green;">{{ message }}</p>
  {% endfor %}
{% endwith %}

<h2>Forgot Password</h2>

<!-- STEP 1: SEND OTP -->
<form action="/send-otp" method="POST">
    <input type="email" name="email" required placeholder="Enter Email"><br><br>
    <button type="submit">Send OTP</button>
</form>

<br>

<!-- STEP 2: VERIFY OTP -->
<form action="/verify-otp" method="POST">
    <input type="email" name="email" required placeholder="Enter Email"><br><br>
    <input type="text" name="otp" required placeholder="Enter OTP"><br><br>
    <button type="submit">Verify OTP</button>
</form>

<br>

<!-- STEP 3: RESET PASSWORD -->
{% if session.get('reset_email') %}
<form action="/reset-password" method="POST">
    <input type="password" name="new_password" required placeholder="New Password"><br><br>
    <button type="submit">Reset Password</button>
</form>
{% endif %}
