{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <p style="color:green;">{{ message }}</p>
  {% endfor %}
{% endwith %}
<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
</head>
<body>

<h2>Payment Page</h2>

<p>Your Request ID: {{ request_id }}</p>

<h3>Select Payment Method</h3>

<form action="/payment-success/{{ request_id }}" method="post">
    
    <input type="radio" name="method" checked> UPI <br>
    <input type="radio" name="method"> Card <br>
    <input type="radio" name="method"> Cash <br><br>

    <button type="submit">Pay Now</button>

</form>

</body>
</html>
